* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: darkgray;
  background-image: url('./img/4441204.jpg');
  overflow-y: hidden;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
