* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: darkgray;
  background-image: url('./img/4441204.jpg');
  overflow-y: hidden;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.App::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
